:root {
    background-color: burlywood;
    }
h1 {
    
    text-align: center;
    font-family: Impact;
    text-decoration: underline;
}

#ingredientes{
    text-align: center;
    list-style-position: inside;
    font-family: 'Lucida Sans';
    font-size: medium;
    
}

#modo {
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    list-style-position: inside;
}

.verde{
    color: green;
}

.azul {
    color:blue
}

p {
    text-align: center;
    font-style: italic;
    font-variant: small-caps;
}