#p1 {
    font-family: Georgia;
    font-size: 30px;
}

#p2 {
    font-family: cursive;
    font-size: large;
}

#p3 {
    font-family: 'Gill Sans';
    font-size: medium;
}

#p4 {
    font-family: 'Times New Roman';
    font-size: small;
}

#p5 {
    font-family: 'Franklin Gothic Medium';
    font-size: x-small;
}

#p6 {
    font-family: Impact;
    font-size: xx-small;
}